
p{
    color: rgb(63, 117, 168);
    margin: 5px;
    text-shadow: 4px 4px 4px #4e6427;
    border-top: 5px rgb(116, 182, 50);
}

ul{
    margin: 5px;
    color: #ffffff;
    background-color: darkslategray;
    font-family:"Hiragino Sans"
}
